.profile-form {
  display: grid;
  gap: 1rem;

  inline-size: min(40rem, 100%);
  margin: auto;

  h1 {
    text-align: center;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    button {
      grid-column: 1 / -1;
    }
  }
}
